h3 {
    margin-top: 0px;
    margin-bottom: 3px;
    font-family: Roboto, Arial;
    font-weight: 700;
    font-size: 24px;
}

div {
    font-family: Roboto, Arial;
}

p {
    font-family: Roboto, Arial;
}

.result-video-container {
    display: flex;
    flex-direction: column;
    /* space between means item will have space between them */
    /* justify-content: space-between; */
    align-items: flex-start;
}

select {
    padding: 5px;
    font-size: 16px;
}

#selectedOption {
    margin-top: 10px;
    font-weight: bold;
}

.result-video-preview {
    display: flex;
    flex-direction: row;
    /* space between means item will have space between them */
    /* justify-content: space-between; */
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 20px;
    column-gap: 16px;

    /* transition takes two values - what we want to transition and how long to take */
    transition: opacity 0.15s;
}

/* simulate container click */
.result-video-preview:active {
    opacity: 0.8;
}

.result-thumbnail {
    background-color: transparent;
    height: 200px;
    width: 360px;
    object-fit: cover;
    border-radius: 12px;
}

.result-video-thumbnail {
    position: relative;
}

/* recall you have to wrap overlay in a container for its own settings to take effect */
.result-video-thumbnail .video-overlay-container {
    display: none;
}

.result-video-thumbnail:hover .video-overlay-container {
    display: block;
}

.video-overlay {
    border-radius: 12px;
}


.search-video-channel-name, .search-video-description {
    font-size: 13px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-video-channel-name .tooltip,
.search-video-description .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 10px 13px 10px 13px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.35s;
    /* when mouse hovers over tooltip, do nothing */
    pointer-events: none;
    /* prevent text from wraping around */
    white-space: nowrap;
}

.search-video-channel-name .tooltip {
    top: -50px;
}

.search-video-description .tooltip {
    bottom: -50px;
}

.search-video-channel-name:hover .tooltip,
.search-video-description:hover .tooltip {
    opacity: 1;
}

.search-video-stats {
    font-size: 13px;
    font-weight: 400;
}

.search-video-channel-info {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    padding-bottom: 12px;
    padding-top: 12px;
    font-size: 13px;
    font-weight: 400;
}

.search-video-channel-profile-pic {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
}

.search-video-description {
    font-size: 13px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;

}

/* activates when screen size hits 1000px */
@media (min-width: 1000px) {
    .result-thumbnail {
        height: 300px;
        width: 500px;
        object-fit: cover;
        border-radius: 12px;
    }

    .result-video-container {
        /* margin: 0; */
        padding-left: 100px;
        padding-right: 35px;
        background-color: rgb(249, 246, 246);
        /* every element inherits roboto (since they're all in the body) */
        font-family: Roboto, Arial;
    }
}


/* .result-thumbnail:hover {
    transform: scale(1.05);
} */

